html, body {
    margin: 0;
    padding: 0;
    background-color: #E9E9E9;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

#footer{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 40px;
}

#wrapper{
  margin-top: 110px;
  margin-bottom: 20px;
  width: 960px;
  height: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F6F7F6;
  border: solid 1px white;
  border-radius: 1px;
}

#navbar{
  position: fixed;
  top: 0%;
  width: 100%;
  background-color: #7A7A7A;
  height: 60px;
  color: white;
  text-align: center;
  border-bottom: solid 1px #E9E9E9
}

#content-left{
  float: left;
  width: 60%;
  padding-left: 25px;
}

#content-right{
  float: right;
  padding-right: 15px;
}

li, ul{
  display: inline-block;
  margin-top: 0;
}

li{
  width: 100px;
  height: 60px;
  margin-top: 0;
  border-right: solid 1px #848588;
}

li:hover{
  background-color: black;
}

a.navbar{
  position: relative;
  top: 25%;
  transform: translateY(-25%);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  text-decoration: none;
  color: white;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

b{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
}

h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 700;
}

h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: lighter;
  font-weight: 400;
}

a.sidebar{
  display:block;
  margin-bottom: 5px;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #446DB2;
  text-decoration: none;
}

a:hover.sidebar{
  text-decoration: underline;
}

a.footer{
  display: inline-block;
  margin-right: 35px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #446DB2;
  text-decoration: none;
}

a:hover.footer{
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #3DDAEF;
  text-decoration: none;
}
